body{
    background: var(--Yellow, #F4D04E);
    /*mobile*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
 

}
.container{
    background: var(--Pure-White, #FFF);
    width: 340px;
    padding: 24px;
    border: solid 1px black;
    border-radius: 20px;
    border-radius: 20px;
    border: 1px solid var(--Black, #111);
    background: var(--Pure-White, #FFF);
    box-shadow: 16px 16px 0px 0px #000;   
    justify-content: center;
    

}
.mentor-img{
    border-radius: 10px;
}
h3{
    width: 58px;
    padding: 4px 12px;
    border-radius: 4px;
    background: var(--Yellow, #F4D04E);
    color: var(--Black, #111);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
}
.p1{
    color: var(--Black, #111);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    margin-top: 12px;
    margin-bottom: 12px;
}
h1{
    color: var(--Yellow, #F4D04E);
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 36px */
    margin-top: 12px;
    margin-bottom: 12px; 
} 
.p2{
    color: var(--Grey, #7F7F7F);

    /* Body M */
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
h2{
    margin-left: 12px;
    color: var(--Black, #111);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
}
.footer{
    display: flex;
}


/*mobil tasarim*/
/* .container{
    display: flex;
    width: 307px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 20px;
    border: 1px solid var(--Black, #111);
    background: var(--Pure-White, #FFF);
    box-shadow: 8px 8px 0px 0px #000;
} */